@model IEnumerable<INTEX.Models.WorkOrder>
@{
    ViewBag.Title = "ClientOrders";
}

<h2 class="w3-center">My Orders</h2>
<hr />

<row>
    @foreach (var item in Model)
    {

        if (item.ClientID == ViewBag.CID)
        {
            <div class="w3-card-4 w3-blue-gray">
                Order Number: <b>@item.WorkOrderNumber</b>
                <p style="padding:5px">Order Date: <b>@item.OrderDate</b></p>
                <p style="padding:5px">Compound Name: <b style="color:darkgreen">@item.CompoundName</b></p>
                @if (item.LTNumber == null)
                {
                <p style="padding:15px">Compound is en route to the lab</p>
                <p style="padding:15px">Estimated time till completion: 10 days</p>
                }
                else
                {
                if (item.Complete == false || item.Complete == null)
                {
                <p style="padding:15px">Compound is being tested</p>
                <p style="padding:15px">Estimated time till completion: 5 days</p>
                }
                else
                {
                <p style="padding:15px; text-decoration-line:overline, underline">Tests are complete, reports are being compiled and sent to you.</p>
                <p style="padding:15px">Estimated time till completion: <b style="text-shadow: 2px 2px darkgreen">Complete</b></p>
                }
                }
        </div>
    }



}
    </row>

    <br />
    <a class="btn btn-md btn-info" href="@Url.Action("DisplayAccount", "Accounts", new { CID = ViewBag.CID})">&laquo; My Account</a>

