@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    9600 College Way N<br />
    Seattle, WA 98103-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@northwestlabs.com">Support@NWlabs.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@NWlabs.com">Marketing@NWlabs.com</a>
</address>